{% extends '__base.html' %}

{% block content %}
    <div class="posts" style="border: 1px solid blue;">
        <img style="height: 40px;" src="/media/{{post.user.avatar}}" />
        <a href="/account/{{post.user.username}}">@{{post.user.username}}</a>
        <p>text: {{post.body}}</p>
        <p>comments: {{post.comments}}</p>
        <a href="/posts/{{post.id}}/like"><p>likes: {{post.likes}}</p></a>
        <a href="/posts/{{post.id}}/dislike"><p>dislikes: {{post.dislikes}}</p></a>
        {% if user.id == post.user_id %}
            <a href="/posts/{{post.id}}/delete">×حذف پست×</a>
        {% endif %}
    </div>
{% endblock %}