{% extends '__base.html' %}

{% block content %}
    <h2>{{user.username}}</h2>
    <img style="height: 100px;" src="/media/{{user.avatar}}" />
    <p>{{user.email}}</p>
    <p>{{user.study_field}}</p>
    <a href="new_post">+پست جدید</a>
    {% for post in posts %}
        <div class="posts" style="border: 1px solid blue;">
            <img style="height: 40px;" src="/media/{{post.user.avatar}}" />
            {% if post.user.pk != 0 %}
            <a href="/account/{{post.user.username}}">@{{post.user.username}}</a>
            {% else %}
            <a>@کاربر ناشناس</a>
            {% endif %}
            <p>text: {{post.body}}</p>
            <p>comments: {{post.comments}}</p>
            <p>likes: {{post.likes}}</p>
            <p>dislikes: {{post.dislikes}}</p>
            <a href="#">نمایش پست</a>
        </div>
    {% endfor %}
{% endblock %}