{% extends '__base.html' %}

{% block content %}
<div style="display: block;margin: 0 auto;max-width: 300px;position: relative;padding-top: 50px">
    <h2>Sign up</h2>
    <form method="post">
        <div class="form-group">
            {% csrf_token %}
            {% for field in form %}
            <p>
                {{ field }}
                {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            </p>
            {% endfor %}
            <button class="btn btn-success" type="submit">ثبت نام</button>
            <p style="color: red;">{{message}}</p>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </form>
</div>
<script type="javascript">
    $("#id_username").change(function () {

        $.ajax({
            url: '/ajax/validate_username/',
            data: {
                'username': username
            },
        });
    });
</script>
{% endblock %}